@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Montserrat+Alternates:wght@200;400&display=swap");

// Variables
$black: #0a0908;
$white: #fcfcfc;
$orange: #fa8334;
$montserrat: "Montserrat Alternates", sans-serif;
$kumbh: "Kumbh Sans", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $kumbh;
}

body {
  background-color: $black;
  color: $white;
  width: 70%;
  margin: 0 auto;
}

header {
  color: $white;
  padding: 1.3em;
  letter-spacing: 0.2em;
  border-bottom: 3px $white solid;
  margin-bottom: 1em;

  h1 {
    grid-area: h1;
    align-self: center;
    margin-top: 0.5rem;
    margin-left: 1em;
    font-family: $montserrat;
    text-align: center;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    justify-items: center;
    color: $orange;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4em;
  justify-items: center;
}

.burguers,
.bebidas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  justify-content: space-evenly;
}

.burguer-nome,
.preco,
.bebidas-nome {
  font-size: 1.2rem;
}

.imagem {
  width: 400px;
  justify-items: center;
}

.info {
  color: $orange;
  text-align: center;
}

#situacao {
  text-align: center;
}

.page-title {
  font-size: 2rem;
  padding: 1em 1em 1em 0;
  color: $orange;
  letter-spacing: 0.1em;
}

.logo-container {
  padding: 1em;
  display: flex;
}

.logo {
  width: 200px;
  justify-self: end;
  align-items: center;
}

.icon {
  width: 50px;
  margin-top: 1rem;
}

li {
  padding: 0.5em;
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 0.8em 1em;
  color: $white;
}
a:hover {
  color: $orange;
}

.entrega {
  padding: 0.6em;
}

.fa-brands {
  font-size: 2rem;
}

.fa-solid {
  font-size: 1.3rem;
}

.fa-whatsapp {
  color: #0dc143;
  font-size: 1.3rem;
}

footer {
  border-top: 3px $white solid;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.footer-logo {
  width: 100px;
  // margin: 1em;
}

@media only screen and (max-width: 1400px) {
  body {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 865px) {
  .burguer-nome,
  .preco,
  .bebidas-nome {
    font-size: 1rem;
  }

  .imagem {
    width: 300px;
    margin: 2em;
  }
}
